<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>hu</string>
	<key>CFBundleDisplayName</key>
	<string>VIZIT DEV</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>VIZIT authentication callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(VIZIT_AUTH_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>A kamera a névjegyek QR-kódjának beolvasásához szükséges.</string>
	<key>NSContactsUsageDescription</key>
	<string>Az általad jóváhagyott névjegy Kontaktokba mentéséhez szükséges.</string>
	<key>VIZITAuthScheme</key>
	<string>$(VIZIT_AUTH_SCHEME)</string>
	<key>VIZITPrivacyPolicyURL</key>
	<string>$(VIZIT_PRIVACY_POLICY_URL)</string>
	<key>VIZITPrivacyPolicyVersion</key>
	<string>$(VIZIT_PRIVACY_POLICY_VERSION)</string>
	<key>VIZITPublicProfileBaseURL</key>
	<string>$(VIZIT_PUBLIC_PROFILE_BASE_URL)</string>
	<key>VIZITSupabaseKey</key>
	<string>$(VIZIT_SUPABASE_KEY)</string>
	<key>VIZITSupabaseURL</key>
	<string>$(VIZIT_SUPABASE_URL)</string>
	<key>VIZITTermsURL</key>
	<string>$(VIZIT_TERMS_URL)</string>
	<key>VIZITTermsVersion</key>
	<string>$(VIZIT_TERMS_VERSION)</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
